flask
flask-cors
numpy
pandas
torch
gh-pages
axios
@emotion/react
@emotion/styled
@mui/material
@testing-library/jest-dom
@testing-library/react
@testing-library/user-event
react
react-dom
react-scripts
web-vitals
@fontsource/roboto